@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="jumbotron">
    <h1 class="display-4">Error Occured at our end</h1>
    <p class="lead">Sorry for the inconvenienve, we will look in to this issue. </p>
    <hr class="my-4">
    <p>Click below to move to homepage to continue shopping</p>
    <a class="btn btn-primary btn-lg" href="~/" role="button">Continue Shopping</a>
</div>