
@{
    ViewBag.Title = "ProductSearchEnded";
}



<div class="jumbotron">
    <h1 class="display-4">Sorry, No More Products Here</h1>
    <p class="lead">Kindly search some other product. </p>
    <hr class="my-4">
    <p>Click below to move to homepage to continue shopping</p>
    <a class="btn btn-primary btn-lg" href="~/" role="button">Continue Shopping</a>
</div>