
@{
    ViewBag.Title = "EditItemInDb";
}


<br />

<div class="jumbotron">
    <h1 class="display-4">Item Edited Confirmation</h1>
    <p class="lead">Item Edited </p>
    <hr class="my-4">
    <p>Click below to move to homepage</p>
    <a class="btn btn-primary btn-lg" href="~/" role="button">Homepage</a>
</div>