
@{
    ViewBag.Title = "ProductSearchEndedAdmin";
}



<div class="jumbotron">
    <h1 class="display-4">Sorry, No More Products added by you Here</h1>
    <p class="lead">Kindly search or add some other products </p>
    <hr class="my-4">

    <p>Click AddItem on Navbar to Add new product to sell or click below to move to homepage to continue shopping </p>
    <p></p>
    <a class="btn btn-primary btn-lg" href="~/" role="button">Continue Shopping</a>
</div>